// values's die ik veel ga gebruiken en makkelijk aan wil kunnen passen
mainred = #E5272D
maingreen = #00AF00
mainblue = #36AEBA
background = #E8E7E7
mainfont = "Source Sans Pro"
fontsizep = 24px
fontsizeh1 = 24px
fontsizeh2 = 24px
fontsizeh3 = 24px
buttonFade = linear-gradient(166.24deg, #F5515F 0%, #F5515F 0.39%, #EE4A5A 8.44%, #E94656 13.64%, #9F041B 100%)

// ---------------------------------------------------------------
// A
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// B
// ---------------------------------------------------------------
body{
  background-color: background
  overflow-x: hidden
  max-width: 100vw
}

.blue{
  color: mainblue
}

button{
  color: red
}

button.landing{
    border: 0px
    font-family: "Source Sans Pro";
    font-weight: 300;
    text-align: center;
    background: buttonFade;
    box-shadow: 0 3px 11px 0 rgba(0,0,0,0.5)
    border-radius: 100px
    height: 60px
    color: white
    width: 95vw;
    max-width: 300px
    margin-top 3vh;
    font-size: 1.8em;
    &:focus{
      border: 0px;
      outline: 0;
    }
    &:hover{
      color: rgba(255,255,255,0.8);
      text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
      font-style: italic;
    }
}


// ---------------------------------------------------------------
// C
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// D
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// E
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// F
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// G
// ---------------------------------------------------------------
  .green{
    color: maingreen;
  }
// ---------------------------------------------------------------
// H
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// I
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// J
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// K
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// L
// ---------------------------------------------------------------
  .landing-page{
    width: 100vw
    max-width: 100vw
    display: flex
    min-height: 100vh
    max-height: 100vh
    background-image: url('../links/img/landing_page_image@3x.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    justify-content: center
    align-items: center
    flex-direction: column
  }

  .logo-landing{
    height: 75vh
    max-width: 94vw
  }
// ---------------------------------------------------------------
// M
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// N
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// O
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// P
// ---------------------------------------------------------------

p{
  font-family: "Source Sans Pro"
  font-size: fontsizep
  font-weight: 300
  line-height: 31px
  color: #000
}

// ---------------------------------------------------------------
// Q
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// R
// ---------------------------------------------------------------
  .red{
    color: mainred

  }
// ---------------------------------------------------------------
// S
// ---------------------------------------------------------------
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
// ---------------------------------------------------------------
// T
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// U
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// V
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// W
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// X
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// Y
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// Z
// ---------------------------------------------------------------
