// values's die ik veel ga gebruiken en makkelijk aan wil kunnen passen
mainred = #E5272D
maingreen = #00AF00
mainblue = #36AEBA
background = #F0F0F0
mainfont = 'Source Sans Pro', sans-serif
linkcolor = #E5272D
linkhovercol = #FF5677
fontsizep = 21px
fontsizeh1 = 2.8em
fontsizeh2 = 2em
fontsizeh3 = 1.5em
fontsizeh4 = 1.2em
fontsizeinput = 0.7em
navelements = linear-gradient(166.22deg, #1C1C1C 0%, #282828 100%)
buttonFade = linear-gradient(166.24deg, #F5515F 0%, #F5515F 0.39%, #EE4A5A 8.44%, #E94656 13.64%, #9F041B 100%)
buttonDark = linear-gradient(166.24deg, #C72D3A 0%, #C72D3A 0.39%, #AD0919 8.44%, #75131D 13.64%, #5A111C 100%)
buttonFadeGreen = linear-gradient(166.24deg, #0DF30D 0%, #0DF30D 0.39%, #09BC09 8.44%, #06A906 13.64%, #096609 100%)

// dev fase only

html{
  max-width: 100vw !important;
  overflow-x: hidden !important;
}
  .container-fluid{
    overflow-x: hidden;
  }
// ---------------------------------------------------------------
// A
// ---------------------------------------------------------------
  a{
    text-decoration: none
    &:hover{
      color: linkhovercol
    }
    &:focus{
      color: linkcolor
      text-decoration: none
    }
  }

  .affix-top{
    position: relative !important;
  }

  .affix{
    position: fixed;
  }
// ---------------------------------------------------------------
// B
// ---------------------------------------------------------------
body{
  background-color: background
  // overflow-x: hidden
  // max-width: 100vw
  font-size: fontsizep;
  font-family: mainfont
  position: relative;
}

.blue{
  color: mainblue
}

button{
  color: red
}

button.landing{
    border: 0px
    font-family: mainfont;
    font-weight: 200;
    text-align: center;
    background: buttonFade;
    box-shadow: 0 3px 11px 0 rgba(0,0,0,0.5)
    border-radius: 100px
    height: 60px
    color: white
    width: 95vw;
    max-width: 300px
    margin-top 3vh;
    font-size: 1.3em;
    z-index: 1
    &:focus{
      border: 0px;
      outline: 0;
    }
    &:hover{
      color: rgba(255,255,255,0.8);
      text-shadow: 0px 0px 0px #bbb, 0 0 0 #000, 0px 0px 1px #333;
      font-style: italic;
    }
}

.borden{
  padding-top: 25px;
}

.button-switch{
  background: none;
  color: mainred;
  border: none;
  padding: 5px;
  padding-right: 10%
  padding-left: 10%
  white-space: nowrap
  transition: all 1s ease-in-out;
  &:focus{
    outline: none;
  }
  &:hover{
    color: lighten(mainblue, 10);
  }
  &.contactKnop{
    text-decoration: underline;
  }
}

.contact-knop{
  height: 60px;
  width: 300px;
  flex: 0 0 300px;
  align-self: center
  margin 5px;
}

.contact-knop__rect{
  width: 100%;
  height: 60px;
  stroke-dasharray: 0px 1000px
  stroke-dashoffset: 700px
  stroke-width: 3px;
  fill: transparent;
  transition: all 0.4s ease-in;
  stroke: mainred
}

.contact-knop:hover {
  .contact-knop__rect{
    stroke-dasharray: 1000px 0px
    stroke-width: 2px;
    stroke: lighten(mainred, 10)
  }
  .contact-knop__text{
    fill: maingreen
    text-decoration: underline;
  }
}

.contact-knop__text{
  fill: mainred;
  font-size: 18px;
  line-height: 10;
  position: relative;
   transition: all 0.7s ease;
  pointer-events: none;
}

.offerte-knop{
  height: 60px;
  width: 300px;
  margin: 5px;
  flex: 0 0 300px;
  align-self: center
}

.offerte-knop__rect{
  width: 100%;
  height: 60px;
  stroke-dasharray: 1000px 1000px
  stroke-dashoffset: -1000px
  stroke-width: 3px;
  fill: transparent;
  transition: all 0.4s ease-in;
  stroke: mainred
}

.offerte-knop:hover {
  .offerte-knop__rect{
    stroke-dashoffset: 0
    stroke-width: 2px;
    stroke: lighten(mainred, 10)
  }
  .offerte-knop__text{
    fill: maingreen
    text-decoration: underline;
  }
}

.offerte-knop__text{
  fill: mainred;
  font-size: 18px;
  line-height: 10;
  position: relative;
  transition: all 0.7s ease;
  pointer-events: none;
}
// ---------------------------------------------------------------
// C
// ---------------------------------------------------------------
.contact{
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: baseline
  width: 100%
  min-height: 300px
  font-family: mainfont
  font-size: fontsizeinput
  font-weight: 300
  position: relative
  label{
    font-weight: 300
    padding: 6px
    padding-left: 15px
    padding-bottom: 0px
    margin-bottom: 0px
  }
  input{
    flex: 1 0 100%
    padding: 10px
    border-radius: 5px
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5)
    border: 1px solid #979797
  }
  textarea {
    flex: 1 0 100%
    height: 150px
    padding: 10px
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5)
    border: 1px solid #979797
    border-radius: 5px
  }
  button{
    font-size: fontsizep
    font-weight: 200
    flex: 0 0 50%
    margin-left: 50%
    margin-top: 20px
    margin-bottom: 20px
    border: 0px
    background: buttonFade
    border-radius: 5px
    color: #fff
  }
}

.close{
  width: 100px;
  height: 100px;
  opacity: 1;
  &:hover{
    opacity: 0.8;
  }
  img{
    object-fit: cover;
    object-position: center;
  }
}

#close1{
  position: absolute;
  top: 0px;
  right: 0px;
}
#close2{
  position: absolute;
  top: 0px;
  right: 0px;
}
#close3{
  position: absolute;
  top: 0px;
  right: 0px;
}

.contactForm{
  display: block;
  opacity: 1;
  z-index: 999;
}

.custom-tooltip{
  font-size: 16px;
  border-radius: 5px;
}
// ---------------------------------------------------------------
// D
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// E
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// F
// ---------------------------------------------------------------
.flex-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100vw;
  background navelements
  z-index: 9999
  top: 0px
  left: 0px
  padding: 0px;
  a{
    color: linkcolor
    flex: 1 1 15%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mainfont;
    font-size: 0.8em;
    text-align: center;
    font-weight: 200
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 1000
    top: 0px
    flex: 4 0 85%;
    padding: 0px;
    margin: 0px;
    position: relative;
    li{
      flex: 1;
      height: 100px;
      padding: 0px;
      margin: 0px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: fontsizep;
      &.active{
          color: lighten(linkhovercol, 10)
          font-size: 1.2em
          font-weight: 300
          text-decoration: underline
          a{
            color: lighten(linkhovercol, 10)
          }
      }
      a{
        color: linkcolor
        flex: 1;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mainfont;
        font-size: 0.95em;
        text-align: center;
        font-weight: 200
        &:hover{
          background darken(#282828, 10);
          text-decoration: none
          color: lighten(linkcolor, 15)
          text-shadow: 0px 0px 1px rgba(244, 0, 33, 0.7)
        }
        &:focus{
          background: none;
        }
        &.active{
          color: lighten(linkhovercol, 10)
          font-size: 1.2em
          font-weight: 300
          text-decoration: underline
          background: none;
        }
      }
    }
  }
}

.flex-center{
  display: flex;
  flex-direction: row
  justify-content: center;
}

.flex-space{
  display: flex;
  flex-direction: row
  justify-content: space-around
  align-items: stretch
  flex-wrap: wrap
  div{
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    img{
      width: 80px
    }
    p{
      text-align: center
    }
  }
}

footer{
  display: flex
  flex-direction: row
  justify-content: space-around
  flex-wrap: wrap
  align-items: center
  min-height: 100px
  width: 100vw
  background navelements
  padding: 10px
  p{
    color: #fff
    font-weight: 200
    font-size: 0.9em
  }
  div{
    flex: 1 1 30%
    display: flex
    height: 70px
    align-items: center
    justify-content: center
    &.contact-icon{
      flex 1 1 50%
      flex-direction: column;
      color: mainred;
      font-size: 24px
      &:hover{
        color: lighten(mainred, 10)
      }
    }
  }
  a{
    color: #E5272D
    &:hover{
      color: lighten(#E5272D, 15)
      text-decoration: none
    }
  }
  img{
    width: 60px
  }
}

.formulieren{
  text-align: center;
  font-family: mainfont;
  font-weight: 100;
  display: flex;
  border-radius: 3px;
  justify-content: center;
  flex-wrap: wrap
}

#form-contact__button_verzenden{
  border-radius: 10px;
  transition: all 0.26s ease-in-out;
  margin-left: 0%;
  &:hover{
    transform: scale(0.965);
    border-radius: 180px;
    background: buttonFadeGreen;
  }
}

#form-offerte__button_offerte-aanvragen{
  border-radius: 10px;
  transition: all 0.26s ease-in-out;
  &:hover{
    transform: scale(0.965);
    border-radius: 180px;
    background: buttonFadeGreen;
  }
}

#form-contact__verzonden_succes{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  background: rgba(0,0,0,0.89);
  color: white;
  padding: 15px;
}

#form-contact-succes__wrapper_flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%
  height: 100%
  color: lighten(maingreen, 4);
  text-align: center;
  font-size: 1.9em;
  div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
      color: rgba(255,255,255,0.95);
      text-align: center;
      font-size: 0.7em;
    }
  }
}

#form-contact-succes__p_uwbericht{
  opacity: 0.7;
  color: rgba(233, 233, 233, 0.7);
  font-size: 17px !important;
  width: 100%;
  max-width: 450px;
  max-height: 173px;
  font-weight: 200;
  font-style: italic;
  overflow:hidden;
  text-overflow: ellipsis;
  position: relative;
  &:first-line{
    color: lighten(maingreen, 15);
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
    opacity: 1;
  }
}

#form-contact-succes__button_close{
  background: buttonFade;
  font-size: 25px;
  font-weight: 200;
  border: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease;
  padding: 1%;
  width: 40%;
  margin-top: 1vh;
  min-width: 250px;
  &:hover{
    background: buttonFadeGreen;
    border-radius: 90px;
    width: 80%;
  }
}
#form-contact__button_reset{
  margin-left: 0%;
  max-width: 25%;
  margin-right: 25%;
  transition: all 0.6s ease;
  transform: scale(0.9);
  &:hover{
    transform: scale(0.7);
    border-radius: 180px;
    background: buttonDark;
  }
}
// ---------------------------------------------------------------
// G
// ---------------------------------------------------------------
  .green{
    color: maingreen;
  }
// ---------------------------------------------------------------
// H
// ---------------------------------------------------------------
h1{
  text-align: center;
  font-family: mainfont;
  font-size: fontsizeh1;
}

h2{
  text-align: center;
  font-family: mainfont;
  font-size: fontsizeh2;
}

h3{
  text-align: center;
  font-family: mainfont
  font-size: fontsizeh3
}

h4{
  text-align: center
  font-family: mainfont
  font-size: fontsizeh4
}

.hammenu{
  display: none
}
// ---------------------------------------------------------------
// I
// ---------------------------------------------------------------
img{
  width: 100%;
}

.img-holder{
  width: 100%
  height: 200px
  position: relative
  box-shadow: inset 0 1px 20px 0 rgba(0,0,0,0.5), 0 1px 6px 0 rgba(0,0,0,0.5);
  img{
    width: 15%
    &.thumb{
      object-fit: cover
      object-position: center
      height: 100%;
      width: 100%
    }
    &.button{
      position: absolute
      bottom: 3px
      right: 3px
    }
  }
  &:hover{
    opacity: 0.7;
  }
}

.intro{
  color: rgba(201, 75, 81, 1.0);
  font-size: fontsizep
  font-weight: 300
}
// ---------------------------------------------------------------
// J
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// K
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// L
// ---------------------------------------------------------------
  .landing-page{
    width: 100vw
    max-width: 100vw
    display: flex
    min-height: 100vh
    max-height: 100vh
    background-image: url('../links/img/landing_page_image@3x.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative;
  }

  .logo-landing{
    height: 70vh
    max-width: 94vw
    z-index: 1;
  }

  .landing-page-img img{
    opacity: 0;
    object-fit: cover;
    object-position: center
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 0.4s linear;
  }

  .landing-page-img img.loaded{
    opacity: 1;
  }

  .placeholder__img{
    filter: blur(50px);
    transform: scale(1);
    opacity: 1 !important
  }

  .landing-page-img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px
    z-index: 0
    overflow: hidden
    background-color: #111;
  }

  .location{
    width: 100%;
    height: 100%;
    overflow: hidden;
    video{
      width: 100%;
      opacity: 0.98;
    }
    .description{
      width: 100%;
      height: 100px;
      background: rgba(20,20,20,0.8);
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 99999;
      display: flex;
      justify-content: space-around;
      align-items: center;
      h3{
        color: lighten(mainred, 2);
        text-align: left;
        small{
          color: lighten(mainblue, 5);
        }
      }
    }
  }
// ---------------------------------------------------------------
// M
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// N
// ---------------------------------------------------------------
  .no-gutter{
    padding: 0px
    margin: 0px
  }

  .number{
    font-size: 3em
    font-weight: 400
  }
// ---------------------------------------------------------------
// O
// ---------------------------------------------------------------

.offerteForm{
  display: none;
}

.onzeKlanten-container{
  width: 100%;
  max-width: 100vw
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  .swiper-wrapper{
    width: 250px
    height: 250px
    .swiper-slide{
      object-fit: contain;
      object-position: center;
      opacity: 0.0
      &.swiper-slide-active{
        opacity: 1
        margin-left: -50px
        z-index: 99
      }
      &.swiper-slide-prev{
        padding-left: 50px
        margin-left: 50px
        opacity: 0.5
        z-index: 1
      }
      &.swiper-slide-next{
        padding-right: 50px
        margin-left: -50px
        margin-right: 50px
        opacity: 0.5
        z-index: 1
      }
    }
  }
  .swiper-button-prev{
    background-image: url(../links/img/prev-slide.svg)
  }
  .swiper-button-next{
    background-image: url(../links/img/next-slide.svg)
  }
}

.offerte{
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: baseline
  width: 100%
  min-height: 300px
  font-family: mainfont
  font-size: fontsizeinput
  font-weight: 300
  label{
    font-weight: 300
    padding: 6px
    padding-left: 15px
    padding-bottom: 0px
    margin-bottom: 0px
  }
  select{
    flex: 1 0 100%;
  }
  input{
    flex: 1 0 100%
    padding: 10px
    border-radius: 5px
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5)
    border: 1px solid #979797
    &[type="checkbox"]{
      margin-left: 15px;
      flex: 0 0 auto;
    }
  }
  div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    &.start-dat{
      padding-right: 5px;
    }
  }
  textarea {
    flex: 1 0 100%
    height: 150px
    padding: 10px
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5)
    border: 1px solid #979797
    border-radius: 5px
  }
  button{
    font-size: fontsizep
    font-weight: 200
    flex: 0 0 50%
    margin-left: 50%
    margin-top: 20px
    margin-bottom: 20px
    border: 0px
    background: buttonFade
    border-radius: 5px
    color: #fff
  }
}

.onze-borden{
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: rgba(0,0,0,0.85);
}

.onze-borden__caption{
  color: mainblue;
  width: 100%;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 10px;
}

.onze-borden--hover{
  width: 100%;
  height: 250px;
  background: red;
  position: absolute;
  top: 252px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.onze-borden__p{
  color: mainred;
}

.onze-borden__p--blue{
  color: mainblue;
}
// ---------------------------------------------------------------
// P
// ---------------------------------------------------------------

p{
  font-family: "Source Sans Pro"
  font-size: fontsizep
  font-weight: 300
  line-height: 31px
  color: #000
}

#popup1{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(2, 2, 2, 0.95);
  top: 0px;
  left: -10px;
  z-index: 9999;
  transform: scale(0);
  transform-origin: center left;
  transition: all 0.4s ease-in-out;
}

#popup2{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(2, 2, 2, 0.95);
  top: 0px;
  left: -10px;
  z-index: 9999;
  transform: scale(0);
  transform-origin: center center;
  transition: all 0.4s ease-in-out;
}

#popup3{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(2, 2, 2, 0.95);
  top: 0px;
  left: -10px;
  z-index: 9999;
  transform: scale(0);
  transform-origin: center right;
  transition: all 0.4s ease-in-out;
}

.popup-content{
  width: 80vw;
  height: 80vh;
  background: #333;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}

// ---------------------------------------------------------------
// Q
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// R
// ---------------------------------------------------------------
  .red{
    color: mainred

  }

  .row{
    &.flex{
      display: flex
      flex-wrap: wrap
      [class*="col-"]{
        display: flex
        flex-direction: column
      }
    }
  }

  .relative{
    position: relative;
  }
// ---------------------------------------------------------------
// S
// ---------------------------------------------------------------


section{
  padding-top: 130px
}
.swiper-container {
        width: 100%;
        max-width: 100vw
        padding-top: 25px;
        padding-bottom: 25px;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 80%;
        height: 200px;
        opacity: 0.5
        img {
          width: 15%
          position: absolute
          bottom: 3px;
          right: 3px
        }
        &.swiper-slide-active{
          opacity: 1
        }
    }
}

// ---------------------------------------------------------------
// T
// ---------------------------------------------------------------
  textarea {
    resize: none;
  }

// ---------------------------------------------------------------
// U
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// V
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// W
// ---------------------------------------------------------------
  .waaromOnsIcon{
    max-width: 350px;
    transform: rotateX(0deg);
  }

  .whitespace{
    width: 100%;
    height: 20px
  }
// ---------------------------------------------------------------
// X
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// Y
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// Z
// ---------------------------------------------------------------

.contact-icon-email__i{
  font-size: 35px
  transition: all 0.3s ease;
  color: mainred
  &:hover{
    color: mainblue
    transform: rotate(12deg)
  }
}
.contact-icon-nummer__i{
  font-size: 35px
  transition: all 0.3s ease;
  color: mainred
  &:hover{
    color: mainblue
    transform: rotate(12deg)
  }
}

.contact-icon-number__p{
  white-space: nowrap
  transition: all 0.3s ease;
  color: background
  transform: translateX(-10px);
  &:hover{
    color: #000
    transform: translateX(0px);
  }
}

.contact-icon-email__p{
  transition: all 0.3s ease;
  color: background
  transform: translateX(-10px);
  &:hover{
    color: #000
    transform: translateX(0px);
  }
}

.social-icon-facebook__p{
  transition: all 0.3s ease;
  color: background
  transform: translateX(-10px);
  &:hover{
    color: #000
    transform: translateX(0px);
  }
}

.social-icon-facebook__p{
  transition: all 0.3s ease;
  color: background
  transform: translateX(-10px);
  &:hover{
    color: #000
    transform: translateX(0px);
  }
}
.social-icon-twitter__p{
  transition: all 0.3s ease;
  color: background
  transform: translateX(-10px);
  &:hover{
    color: #000
    transform: translateX(0px);
  }
}
.social-icon-linkedin__p{
  transition: all 0.3s ease;
  color: background
  transform: translateX(-10px);
  &:hover{
    color: #000
    transform: translateX(0px);
  }
}

.social-icon-twitter__i{
  font-size: 35px;
  color: mainred
  transition: all 0.3s ease, transform 1s ease-in-out;
  &:hover{
    color: mainblue
  }
}
.social-icon-facebook__i{
  font-size: 35px;
  color: mainred
  transition: all 0.3s ease, transform 3s ease;
  &:hover{
    color: mainblue
  }
}
.social-icon-linkedin__i{
  font-size: 35px;
  color: mainred
  transition: all 0.3s ease;
  &:hover{
    color: mainblue
  }
}

.social-icon-facebook{
  position: relative
  &:hover{
    .social-icon-facebook__i{
      color: mainblue
      animation: tada 1.4s ease-in-out
    }
    .social-icon-facebook__p{
      color: #000
      transform: translateX(0px)
    }
  }
}

.social-icon-twitter{
  position: relative
  &:hover{
    .social-icon-twitter__i{
      color: mainblue
      animation: tada 1.4s ease-in-out
    }
    .social-icon-twitter__p{
      color: #000
      transform: translateX(0px)
    }
  }
}

.social-icon-linkedin{
  position: relative
  &:hover{
    .social-icon-linkedin__i{
      color: mainblue
      animation: tada 1.4s ease-in-out
    }
    .social-icon-linkedin__p{
      color: #000
      transform: translateX(0px)
    }
  }
}

.contact-icon-nummer{
  position: relative
  &:hover{
    .contact-icon-nummer__i{
      animation: tada 1.4s ease-in-out 
      color: mainblue
    }
    .contact-icon-number__p{
      color: #000
      transform: translateX(0px);
    }
  }
}

.contact-icon-email{
  position: relative
  &:hover{
    .contact-icon-email__i{
      animation: tada 1.4s ease-in-out 
      color: mainblue
    }
    .contact-icon-email__p{
      color: #000
      transform: translateX(0px);
    }
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



.baseline{
  justify-content: center
  align-items: baseline
}


#flex-nav-icon{
  width 50px
  height: 40px
  position: relative
  transform rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer
  left: 90%
  z-index: 9999999;
}

#flex-nav-icon__span1{
  top: 0px;
  display: block
  background: mainblue
  position: absolute
  width: 100%
  height: 8px
  border-radius: 10px;
  opacity: 1;
  left: 0
  transition: .25s ease-in-out
}

#flex-nav-icon__span2{
  top 18px
  display: block
  background: mainblue
  position: absolute
  width: 100%
  height: 8px
  border-radius: 10px;
  opacity: 1;
  left: 0
  transition: .25s ease-in-out
}

#flex-nav-icon__span3{
  top 18px
  display: block
  background: mainblue
  position: absolute
  width: 100%
  height: 8px
  border-radius: 10px;
  opacity: 1;
  left: 0
  transition: .25s ease-in-out
}

#flex-nav-icon__span4{
  top: 36px
  display: block
  background: mainblue
  position: absolute
  width: 100%
  height: 8px
  border-radius: 10px;
  opacity: 1;
  left: 0
  transition: .25s ease-in-out
}

.flex-nav-icon__span1--open{
  top 18px !important
  width 0% !important
  left 50% !important
  background: mainred !important
}

.flex-nav-icon__span2--open {
  transform: rotate(45deg)
  background: mainred !important
}

.flex-nav-icon__span3--open {
  transform: rotate(-45deg)
  background: mainred !important
}

.flex-nav-icon__span4--open {
  top 18px !important
  width 0% !important
  left 50% !important
  background: mainred !important
}

/* Small Devices*/
@media (max-width : 767px){
  body{
    font-size: 18px
  }

  .number{
    font-size: 1.4em
    font-weight: 600
  }

  h3{
    font-size: 1.2em
  }

  footer{
    display: flex;
    align-items: baseline
  }

  .contact-icon-nummer{
    flex-direction: column
    text-align: center;
  }

  .contact-icon-number__p--a a{
    white-space: nowrap
    transition: all 0.3s ease;
    color: background
  }

  .contact-icon-email__p--a{
    white-space: nowrap
    transition: all 0.3s ease;
    color: background
    font-size: 0.68em
  }

  .contact-icon-email{
    flex-direction: column
  }

  section{
    padding-top: 100px
  }

  .flex-nav{
    width: 100vw
    flex-wrap: wrap
    flex-direction: column
    display: flex
    top: 0px
    // overflow: hidden
    height: auto;
    z-index: 1000
    max-height: 100vh;
    min-height: 10vh;
    background: #1C1C1C;
    position: fixed !important;
    a{
      width: 100vw;
      flex: 2 1 10vh
      &.hammenu{
        display: flex
        height: 100px;
        width: 100vw
        flex-basis: 100px;
        font-size: 2.5em
        text-align: right
        align-items: center
        justify-content: space-between
        padding-right: 30px
        top: 0px
        left: 0px
        z-index: 2000
        flex-direction: row
        img{
          position: absolute
          left: 5px
          top: 5px
          height: 80%
          max-height: 85px;
          display: none;
        }
      }
      &.spacer-nav{
        flex: 1 2 50px
        &:hover{
          background: none;
        }
      }
    }
    ul{
      display: none;
      height: calc(100vh - 100px);
      width: 100vw;
      position: fixed
      top: 100px;
      background: #1C1C1C;
      li{
        height: 15%;
        z-index: 999999;
        a{
          width: 100vw;
          height: 100%;
          background: #1C1C1C;
          &.spacer-nav{
            flex: 1 2 50px
            &:hover{
              background: none;
            }
          }
        }
      }
    }
  }
  p{
    font-size: 18px
  }

  .logo-landing{
    margin-top: -10vh;
  }

  button.landing{
    position: absolute
    bottom: 3vh
    left: calc(50vw - 150px)
    z-index: 10;
  }

  .intro{
    font-size: 18px
  }
  .onzeKlanten-container{
    width: 100%;
    max-width: 100vw
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
    .swiper-wrapper{
      width: 250px
      height: 250px
      .swiper-slide{
        object-fit: contain;
        object-position: center;
        opacity: 0.0
        &.swiper-slide-active{
          opacity: 1
          margin-left: 0
          z-index: 99
        }
        &.swiper-slide-prev{
          padding-left: 0
          margin-left: 0
          opacity: 0.5
          z-index: 1
        }
        &.swiper-slide-next{
          padding-right: 0
          margin-left: 0
          margin-right: 0
          opacity: 0.5
          z-index: 1
        }
      }
    }
  }
}
// Tablets
@media (min-width : 768px) and (max-width : 991px){
  body{
    font-size: 18px
  }
  #hamburger__img{
    display: none;
  }

  .number{
    font-size: 1.4em
    font-weight: 600
  }

  h3{
    font-size: 1.2em
  }

  p{
    font-size: 18px
  }

  section{
    padding-top: 100px
  }

  .logo-landing{
    margin-top: -10vh;
  }

  button.landing{
    position: absolute
    bottom: 3vh
    left: calc(50vw - 150px)
  }

  .intro{
    font-size: 18px
  }
  .onzeKlanten-container{
    width: 100%;
    max-width: 100vw
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
    .swiper-wrapper{
      width: 250px
      height: 250px
      .swiper-slide{
        object-fit: contain;
        object-position: center;
        opacity: 0.0
        &.swiper-slide-active{
          opacity: 1
          margin-left: 0
          z-index: 99
        }
        &.swiper-slide-prev{
          padding-left: 0
          margin-left: 0
          opacity: 0.5
          z-index: 1
        }
        &.swiper-slide-next{
          padding-right: 0
          margin-left: 0
          margin-right: 0
          opacity: 0.5
          z-index: 1
        }
      }
    }
  }
}

.waarom-ons__row--sub{
  padding: 15px;
}