// values's die ik veel ga gebruiken en makkelijk aan wil kunnen passen
mainred = #E5272D
maingreen = #00AF00
mainblue = #36AEBA
background = #E8E7E7
mainfont = "Source Sans Pro"
fontsizep = 24px
fontsizeh1 = 24px
fontsizeh2 = 24px
fontsizeh3 = 24px

// ---------------------------------------------------------------
// A
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// B
// ---------------------------------------------------------------
body{
  background-color background
  padding 15px
}

// ---------------------------------------------------------------
// C
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// D
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// E
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// F
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// G
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// H
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// I
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// J
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// K
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// L
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// M
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// N
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// O
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// P
// ---------------------------------------------------------------

p{
  font-family "Source Sans Pro"
  font-size fontsizep
  font-weight 300
  line-height 31px
  color #000
}

// ---------------------------------------------------------------
// Q
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// R
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// S
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// T
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// U
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// V
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// W
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// X
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// Y
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// Z
// ---------------------------------------------------------------
